.tab-pane .tab-header-area .tab-label {
    -fx-font-family: "Verdana";
    -fx-font-size: 24px;
}

.tooltipLabel:hover {
    -fx-cursor: hand;
}

.list-cell {
    -fx-font-family: "Verdana";
    -fx-font-size: 20px;
}

.combo-box .text {
    -fx-font-family: "Verdana";
    -fx-font-size: 17px;
}
